MYSQL_HOST=<your-mysql-host>
MYSQL_PORT=3306
MYSQL_USER=<your-mysql-user>
MYSQL_PASSWORD=<your-mysql-password>
MYSQL_DATABASE=<your-mysql-database>

MONGO_URI=mongodb://<your-mongo-user>:<your-mongo-password>@<your-mongo-host>:27017/<your-mongo-database>?authSource=<your-auth-db>

DB_API_HOST=0.0.0.0
DB_API_PORT=5001
DB_API_DEBUG=false
